.page-banner-area {
  position: relative;
  z-index: 1;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 150px;
  padding-bottom: 150px;
  /* background-attachment: fixed; */
}

.page-banner-area::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: #000000;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  opacity: 0.2;
}
.page-banner-content h2 {
  color: "white";
  margin-bottom: 20px;
  font-family: "jacques Francois";
  font-size: 30px;
  line-height: 1;
}
.page-banner-content {
  text-align: center;
  color: #ffffff;
}
.page-banner-description h6 {
  color: #ffffff;
  margin-top: 20px;
  font-family: "jacques Francois";
  font-size: 20px;
  line-height: 1;
}
.page-banner-description {
  text-align: center;
}
